openapi: 3.0.3
info:
  title: EstateCore API — Financial Management module
  version: 0.1.0
  description: >
    Covers the endpoints implemented in apps/api/src/modules/financial.
    Other modules (Property & Unit, Tenant & Lease, Facility & Maintenance,
    Visitor & Access, Utilities, Community, Documents, Reporting, Compliance)
    are not yet built and are out of scope for this spec.
servers:
  - url: https://api.estatecore.app/v1
    description: Production
  - url: http://localhost:3000
    description: Local development

tags:
  - name: Invoices
    description: Rent, service charge, utility, and other billable invoices
  - name: Payments
    description: Paystack checkout, manual payment recording, and webhook processing
  - name: PaymentPlans
    description: Installment plans for spreading an invoice's balance over time
  - name: Arrears
    description: Overdue-balance tracking, late fees, and recovery-stage escalation

security:
  - bearerAuth: []

paths:
  /invoices:
    post:
      tags: [Invoices]
      operationId: createInvoice
      summary: Create an invoice with line items
      security: [{ bearerAuth: [invoice.create] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreateInvoiceRequest' }
      responses:
        '201':
          description: Invoice created in `draft` status
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Invoice' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '401': { $ref: '#/components/responses/Unauthorized' }
        '403': { $ref: '#/components/responses/Forbidden' }

  /invoices/{id}:
    get:
      tags: [Invoices]
      operationId: getInvoice
      summary: Get an invoice with its line items
      security: [{ bearerAuth: [invoice.read] }]
      parameters:
        - $ref: '#/components/parameters/InvoiceId'
      responses:
        '200':
          description: Invoice found
          content:
            application/json:
              schema: { $ref: '#/components/schemas/InvoiceWithLineItems' }
        '403': { $ref: '#/components/responses/Forbidden' }
        '404': { $ref: '#/components/responses/NotFound' }

  /invoices/{id}/issue:
    patch:
      tags: [Invoices]
      operationId: issueInvoice
      summary: Move an invoice from draft to issued
      security: [{ bearerAuth: [invoice.issue] }]
      parameters:
        - $ref: '#/components/parameters/InvoiceId'
      responses:
        '200':
          description: Invoice issued
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Invoice' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '404': { $ref: '#/components/responses/NotFound' }

  /invoices/{id}/void:
    patch:
      tags: [Invoices]
      operationId: voidInvoice
      summary: Void an invoice (not allowed once paid)
      security: [{ bearerAuth: [invoice.void] }]
      parameters:
        - $ref: '#/components/parameters/InvoiceId'
      responses:
        '200':
          description: Invoice voided
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Invoice' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '404': { $ref: '#/components/responses/NotFound' }

  /invoices/tenant/{tenantId}:
    get:
      tags: [Invoices]
      operationId: listTenantInvoices
      summary: List a tenant's invoices
      security: [{ bearerAuth: [invoice.read] }]
      parameters:
        - name: tenantId
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Invoices for the tenant, most recent due date first
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Invoice' }
        '403': { $ref: '#/components/responses/Forbidden' }

  /payments/paystack/initiate:
    post:
      tags: [Payments]
      operationId: initiatePaystackPayment
      summary: Start a Paystack hosted-checkout session for an invoice's outstanding balance
      security: [{ bearerAuth: [payment.create] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/InitiatePaystackPaymentRequest' }
      responses:
        '201':
          description: Checkout session created
          content:
            application/json:
              schema: { $ref: '#/components/schemas/PaystackCheckout' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '404': { $ref: '#/components/responses/NotFound' }

  /payments/manual:
    post:
      tags: [Payments]
      operationId: recordManualPayment
      summary: Record an offline payment (bank transfer, cash) confirmed by a Finance Officer
      security: [{ bearerAuth: [payment.record_manual] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/RecordManualPaymentRequest' }
      responses:
        '201':
          description: Payment recorded and applied to the invoice
          content:
            application/json:
              schema: { $ref: '#/components/schemas/Payment' }
        '404': { $ref: '#/components/responses/NotFound' }

  /payments/paystack/webhook:
    post:
      tags: [Payments]
      operationId: handlePaystackWebhook
      summary: Paystack webhook receiver (charge.success)
      description: >
        Not authenticated via bearer token — trust is established by the
        `x-paystack-signature` HMAC-SHA512 header, verified against the raw
        request body.
      security: []
      parameters:
        - name: x-paystack-signature
          in: header
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema: { type: object }
      responses:
        '200':
          description: Webhook processed (or ignored if not a charge.success event)
          content:
            application/json:
              schema:
                type: object
                properties:
                  received: { type: boolean }
        '400': { description: Invalid signature }

  /payment-plans:
    post:
      tags: [PaymentPlans]
      operationId: createPaymentPlan
      summary: Split an invoice's outstanding balance into installments
      security: [{ bearerAuth: [payment_plan.create] }]
      requestBody:
        required: true
        content:
          application/json:
            schema: { $ref: '#/components/schemas/CreatePaymentPlanRequest' }
      responses:
        '201':
          description: Installments created
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/PaymentPlanInstallment' }
        '400': { $ref: '#/components/responses/BadRequest' }
        '404': { $ref: '#/components/responses/NotFound' }

  /payment-plans/invoice/{invoiceId}:
    get:
      tags: [PaymentPlans]
      operationId: listPaymentPlanInstallments
      summary: List installments for an invoice
      security: [{ bearerAuth: [payment_plan.read] }]
      parameters:
        - name: invoiceId
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Installments, in order
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/PaymentPlanInstallment' }
        '401': { $ref: '#/components/responses/Unauthorized' }

  /arrears/tenant/{tenantId}:
    get:
      tags: [Arrears]
      operationId: listTenantArrears
      summary: List a tenant's unresolved arrears
      security: [{ bearerAuth: [arrears.read] }]
      parameters:
        - name: tenantId
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          description: Arrears records with recovery_stage != resolved
          content:
            application/json:
              schema:
                type: array
                items: { $ref: '#/components/schemas/Arrear' }
        '403': { $ref: '#/components/responses/Forbidden' }

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Supabase Auth JWT carrying org_id, role, and permissions claims (see docs/01-architecture.md section 5)

  parameters:
    InvoiceId:
      name: id
      in: path
      required: true
      schema: { type: string, format: uuid }

  responses:
    BadRequest:
      description: Validation error or invalid state transition
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    Unauthorized:
      description: Missing or invalid bearer token
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    Forbidden:
      description: Caller lacks the required permission, or a tenant tried to access another tenant's data
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }
    NotFound:
      description: Resource not found within the caller's organisation
      content:
        application/json:
          schema: { $ref: '#/components/schemas/Error' }

  schemas:
    Error:
      type: object
      properties:
        statusCode: { type: integer }
        message: { type: string }

    Money:
      type: string
      description: Integer amount in kobo (1 NGN = 100 kobo), serialized as a string to avoid JSON number precision loss.
      example: '150075'

    CreateInvoiceLineItem:
      type: object
      required: [description, quantity, unitPriceKobo]
      properties:
        description: { type: string }
        quantity: { type: string, example: '1' }
        unitPriceKobo: { $ref: '#/components/schemas/Money' }

    CreateInvoiceRequest:
      type: object
      required: [tenantId, invoiceType, dueDate, lineItems]
      properties:
        leaseId: { type: string, format: uuid, nullable: true }
        unitId: { type: string, format: uuid, nullable: true }
        tenantId: { type: string, format: uuid }
        invoiceType:
          type: string
          enum: [rent, service_charge, utility, late_fee, deposit, other]
        dueDate: { type: string, format: date }
        vatRatePercent: { type: number, example: 7.5 }
        lineItems:
          type: array
          minItems: 1
          items: { $ref: '#/components/schemas/CreateInvoiceLineItem' }

    Invoice:
      type: object
      properties:
        id: { type: string, format: uuid }
        organisation_id: { type: string, format: uuid }
        lease_id: { type: string, format: uuid, nullable: true }
        unit_id: { type: string, format: uuid, nullable: true }
        tenant_id: { type: string, format: uuid, nullable: true }
        invoice_number: { type: string, example: INV-20260701-9F3A2C }
        invoice_type: { type: string }
        currency: { type: string, example: NGN }
        subtotal_kobo: { $ref: '#/components/schemas/Money' }
        vat_kobo: { $ref: '#/components/schemas/Money' }
        total_kobo: { $ref: '#/components/schemas/Money' }
        amount_paid_kobo: { $ref: '#/components/schemas/Money' }
        status:
          type: string
          enum: [draft, issued, partially_paid, paid, overdue, void]
        due_date: { type: string, format: date }
        issued_at: { type: string, format: date-time, nullable: true }
        created_at: { type: string, format: date-time }
        updated_at: { type: string, format: date-time }

    InvoiceLineItem:
      type: object
      properties:
        id: { type: string, format: uuid }
        invoice_id: { type: string, format: uuid }
        description: { type: string }
        quantity: { type: string }
        unit_price_kobo: { $ref: '#/components/schemas/Money' }
        amount_kobo: { $ref: '#/components/schemas/Money' }

    InvoiceWithLineItems:
      allOf:
        - $ref: '#/components/schemas/Invoice'
        - type: object
          properties:
            lineItems:
              type: array
              items: { $ref: '#/components/schemas/InvoiceLineItem' }

    InitiatePaystackPaymentRequest:
      type: object
      required: [invoiceId]
      properties:
        invoiceId: { type: string, format: uuid }
        callbackUrl: { type: string, format: uri }

    PaystackCheckout:
      type: object
      properties:
        reference: { type: string }
        authorizationUrl: { type: string, format: uri }

    RecordManualPaymentRequest:
      type: object
      required: [invoiceId, amountKobo, paymentMethod]
      properties:
        invoiceId: { type: string, format: uuid }
        amountKobo: { $ref: '#/components/schemas/Money' }
        paymentMethod:
          type: string
          enum: [bank_transfer, cash, ussd, wallet, card, direct_debit]
        reference: { type: string }

    Payment:
      type: object
      properties:
        id: { type: string, format: uuid }
        invoice_id: { type: string, format: uuid, nullable: true }
        tenant_id: { type: string, format: uuid, nullable: true }
        amount_kobo: { $ref: '#/components/schemas/Money' }
        currency: { type: string }
        payment_method: { type: string }
        gateway: { type: string, enum: [paystack, flutterwave, remita, manual], nullable: true }
        gateway_reference: { type: string, nullable: true }
        status: { type: string, enum: [pending, successful, failed, reversed] }
        paid_at: { type: string, format: date-time, nullable: true }

    PaymentPlanInstallmentInput:
      type: object
      required: [amountDueKobo, dueDate]
      properties:
        amountDueKobo: { $ref: '#/components/schemas/Money' }
        dueDate: { type: string, format: date }

    CreatePaymentPlanRequest:
      type: object
      required: [invoiceId, installments]
      properties:
        invoiceId: { type: string, format: uuid }
        installments:
          type: array
          minItems: 2
          items: { $ref: '#/components/schemas/PaymentPlanInstallmentInput' }

    PaymentPlanInstallment:
      type: object
      properties:
        id: { type: string, format: uuid }
        invoice_id: { type: string, format: uuid }
        installment_number: { type: integer }
        amount_due_kobo: { $ref: '#/components/schemas/Money' }
        due_date: { type: string, format: date }
        status: { type: string, enum: [pending, paid, overdue] }

    Arrear:
      type: object
      properties:
        id: { type: string, format: uuid }
        tenant_id: { type: string, format: uuid }
        invoice_id: { type: string, format: uuid }
        outstanding_kobo: { $ref: '#/components/schemas/Money' }
        days_overdue: { type: integer }
        late_fee_kobo: { $ref: '#/components/schemas/Money' }
        recovery_stage: { type: string, enum: [reminder, notice, legal_referral, resolved] }
